// Tbalet Portrate
.headline{
  h2{
    white-space: normal;
    font-size: 110px;
    padding-top: 38px;
    line-height: 100px;
  }
  h3{
    padding-top: 45px;
  }
}

.newsletter{
  margin-top: 188px;
}

.content {
  padding: 0 90px 90px 30px;
}

.social-list{
  left: 30px;
}

.main-wrapper{
  overflow: hidden;
}

.graphical-elements{
  .cr-element{
    right: -85px;
    bottom: -80px;
    width: 500px;
  }
  .hime{
    width: 530px;
    right: -186px;
  }
}